#topHeader {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 55px;
  color: #555252;

  .drpMenu {
    display: flex;

    .navItem {
      color: #656565;
      padding-right: 15px;
      margin-right: 15px;
      text-decoration: none;

      &:not(:last-child)::before {
        position: absolute;
        content: "";
        height: 15px;
        width: 1px;
        background-color: #d5d4d4;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
      }

      a {
        transition: 0.3s all;

        &:hover {
          color: #a749ff;
          background-color: white;
        }

        &.dropdown-item {
          font-size: 13px;
          line-height: 22px;
        }
      }
    }
  }

  .description {
    p {
      margin: 0;

      .price {
        color: red;
      }
    }
  }
}
