.ho{
    color: red;
    font-size: 30px;
}
@mixin  text {
    color: red;
    font-size: 100px;
    font-weight: bold;
    font-style: italic
    
}
.head1{
    font-size: 150px;
    @include text;
    color: red;
}